{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Revistas en el Área: {{ area }}</h2>

    {% if revistas %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Área</th>
            <th>Enlace</th>
          </tr>
        </thead>
        <tbody>
          {% for revista in revistas %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ revista['title'] }}</td>
              <td>{{ revista.get('subject_area_category', 'Sin área') }}</td>
              <td><a href="{{ revista['link'] }}" target="_blank">Ir a la revista</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-warning" role="alert">
        No se encontraron revistas para esta área.
      </div>
    {% endif %}
  </div>
{% endblock %}
