{% extends 'base.html' %}

{% block title %}Explorar Revistas{% endblock %}

{% block content %}
<h1>Explorar Revistas por Letra</h1>

<!-- Mostrar el abecedario -->
<div>
    {% for letra in 'abcdefghijklmnopqrstuvwxyz' %}
        <a href="{{ url_for('explorar', letra=letra) }}">{{ letra.upper() }}</a> &nbsp;
    {% endfor %}
</div>


<!-- Si se ha seleccionado una letra, mostrar las revistas correspondientes -->
{% if letra %}
    <h2>Revistas que empiezan con "{{ letra.upper() }}"</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Catálogos</th>
                <th>Áreas</th>
                <th>H-Index</th>
            </tr>
        </thead>
        <tbody>
            {% for nombre, info in revistas.items() if nombre.lower().startswith(letra) %}
                <tr>
                    <td><a href="{{ url_for('revista_detalle', nombre_revista=nombre) }}">{{ nombre }}</a></td>
                    
                    <td>
                        {% set publishers = info.publisher if info.publisher else "" %}
                        {% for catalogo in publishers.split(',') if catalogo.strip() %}
                            <a href="{{ url_for('catalogo', catalogo=catalogo.strip()) }}">{{ catalogo.strip() }}</a><br>
                        {% endfor %}
                    </td>

                    <td>
                        {% set areas = info.subject_area_category if info.subject_area_category else "" %}
                        {% for area in areas.split(',') if area.strip() %}
                            <a href="{{ url_for('area_detalle', nombre_area=area.strip()) }}">{{ area.strip() }}</a><br>
                        {% endfor %}
                    </td>

                    <td>{{ info.get('h_index', 'N/A') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
