{% extends 'base.html' %}

{% block title %}{{ nombre }} - Detalles de la Revista{% endblock %}

{% block content %}
<h1 class="mb-4 text-primary">{{ nombre }}</h1>

<div class="card shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <p><strong>Área(s) temática(s):</strong></p>
                <ul>
                    {% for area, categorias in info.subjet_area_and_category.items() %}
                        <li>
                            <strong>{{ area }}</strong>
                            <ul>
                                {% for categoria in categorias %}
                                    <li>{{ categoria }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                <p><strong>Editorial:</strong> {{ info.publisher }}</p>
                <p><strong>ISSN:</strong> {{ info.issn }}</p>
                <p><strong>Tipo de publicación:</strong> {{ info.publication_type }}</p>
                {% if info.url %}
                    <p><strong>Ver en Scimago:</strong> 
                        <a href="{{ info.url }}" target="_blank">{{ info.url }}</a>
                    </p>
                {% endif %}
                {% if info.website %}
                    <p><strong>Sitio oficial:</strong> 
                        <a href="{{ info.website }}" target="_blank">{{ info.website }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                {% if info.widget %}
                        {{ info.widget | safe }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">← Volver al inicio</a>
{% endblock %}
